p Zdravo,
p Klikni na link za potvrdu pretrage na FlatMe sajtu
p
  a(href=`${url}`, target='_blank', rel='noopener noreferrer', style='background: #ffffff; border: 2px solid #3366CC; text-decoration: none; padding: 7px 15px; color: #000000; border-radius: 4px; display: inline-block; mso-padding-alt: 0; text-underline-color: #ffffff')
    span(style='mso-text-raise: 10pt; font-weight: bold;') Potvrdite

p Ukoliko niste upoznati sa ovom potvrdom, možete da ignorišete ovu poruku.
