include ./partials/head
div
  p(class='mb-2') Novi stanovi koji odgovaraju Vašoj sačuvanoj pretrazi

.container
  for apartment in apartmentList
    include ./partials/apartment-info

include ./partials/unsubscribe