if apartment.address
  span #{apartment.address}
if apartment.showPlace
  span , #{apartment.place}
else if apartment.place && !apartment.address
  span #{apartment.place}
if apartment.showMunicipality
  span , #{apartment.municipality}
