head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  meta(name='x-apple-disable-message-reformatting')
  <!-- [if !mso] <! -->
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  <!-- <![endif] -->
  title
  //if mso
    style(type='text/css').
      table {border-collapse:collapse;border:0;border-spacing:0;margin:0;}
      div, td {padding:0;}
      div {margin:0 !important;}
    noscript
      xml
        o:officedocumentsettings
          o:pixelsperinch 96
  style(type='text/css').
    @media screen and (max-width: 350px) {
    .three-col .column {
    max-width: 100% !important;
    }
    }
    @media screen and (min-width: 351px) and (max-width: 460px) {
    .three-col .column {
    max-width: 50% !important;
    }
    }
    @media screen and (max-width: 460px) {
    .two-col .column {
    max-width: 100% !important;
    }
    .two-col img {
    width: 100% !important;
    }
    }
    @media screen and (min-width: 461px) {
    .three-col .column {
    max-width: 33.3% !important;
    }
    .two-col .column {
    max-width: 50% !important;
    }
    .sidebar .small {
    max-width: 16% !important;
    }
    .sidebar .large {
    max-width: 84% !important;
    }
    }
